.top-section .left {
    padding-right: 40px;
}

.top-section {
    border: purple solid 5px;
    
}

.left {
    border: red solid 3px;
}

.right {
    border: green solid 3px;
}

.header {
    background-color: black;
}